{% load cms_tags %}
{% load staticfiles %}
{% load sekizai_tags %}

{% addtoblock "js" %}
    {% if instance.usar_tooltip %}
        <script type="text/javascript" src="{% static "cms_plugin_html/js/tooltip.min.js" %}"></script>
    {% endif %}
{% endaddtoblock %}

<section class="html-map">
    <img src="{{ instance.imagem.url }}" usemap="#MapPlugin{{ instance.pk }}" border="0">
    <map name="MapPlugin{{ instance.pk }}" id="MapPlugin{{ instance.pk }}">
        {% for area in areas %}
            <area shape="{{ area.shape }}"
                  coords="{{ area.coords }}"
                  href="{{ area.href }}"
                  {% if instance.usar_tooltip %}
                      onmouseover="toolTip('{{area.mensagem}}')"
                      onmouseout="toolTip()"
                  {% endif %}>
        {% endfor %}
    </map>
</section>
