{% load cms_tags %}
{% load sekizai_tags %}
{% load staticfiles %}

{% addtoblock "css" %}
    <link href="{% static "cmsplugin_javascript/bootstrap/carousel.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "cmsplugin_javascript/css/carousel.css" %}" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "cmsplugin_javascript/bootstrap/carousel-tpls.min.js" %}"></script>
    <script type="text/javascript">
        APPS_NAMES = ["ui.bootstrap", "ui.bootstrap.tpls"];
        for (index = 0; index < APPS_NAMES.length; ++index) {
            if (mainApp.requires.indexOf(APPS_NAMES[index]) === -1) {
                mainApp.requires.push(APPS_NAMES[index]);
            }
        }
    </script>
{% endaddtoblock %}

{% block carousel %}
    <section {% if not instance.indicador %}class="esconder-indicators"{% endif %}>
        <carousel interval="{{ instance.velocidade }}" style="width:{{ instance.largura }}px">
            {% block slides %}
                {% for plugin in instance.child_plugin_instances %}
                    <slide {% if forloop.counter0 == 0 %}active{% endif %} style="height: {{ instance.altura }}px">
                        {% render_plugin plugin %}
                    </slide>
                {% endfor %}
            {% endblock %}
        </carousel>
    </section>
{% endblock %}
