{% load cms_tags %}
{% load sekizai_tags %}
{% load staticfiles %}

{% addtoblock "css" %}
    <link href="{% static "cmsplugin_javascript/css/bootstrap/carousel.css" %}" rel="stylesheet" type="text/css" />
{% endaddtoblock %}
{% addtoblock "css" %}
    <link href="{% static "cmsplugin_javascript/css/carousel.css" %}" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "cmsplugin_javascript/ext/angular-ui/ui-bootstrap-tpls.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cmsplugin_javascript/ext/angular.ng-modules.min.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "cmsplugin_javascript/ext/angular.ng-modules.min.js" %}"></script>
{% endaddtoblock %}

{% block carousel %}
    <section ng-module="ui.bootstrap" {% if not instance.indicador %}class="esconder-indicators"{% endif %}>
        <carousel interval="{{ instance.velocidade }}" style="width:{{ instance.largura }}px">
            {% block slides %}
                {% for plugin in instance.child_plugin_instances %}
                    <slide {% if forloop.counter0 == 0 %}active{% endif %} style="height: {{ instance.altura }}px">
                        {% render_plugin plugin %}
                    </slide>
                {% endfor %}
            {% endblock %}
        </carousel>
    </section>
{% endblock %}
